.carousel {
  display: flex;
  flex-direction: column;
}

.slide {
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //transition: background-image 1s ease;
  // transition: background-image 1s linear;
  //transition: background-image 1s ease-in;
  //transition: background-image 1s ease-out;
  transition: background-image 1s ease-in-out;
}

.controlContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -35px auto 0 auto;
}

.btn {
  padding: 5px 0px;
  background-color: var(--themeFColor);
  color: var(--themeBgColor);
  // opacity: 0.8;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.slideSelectContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.slideSelectBtn {
  height: 10px;
  width: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 0 5px;
}

.slideSelected {
  background-color: var(--themeActiveLink)
}

// .selectorBtn {
//   height: 15px;
//   width: 15px;
//   border-radius: 20px;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   background-color: var(--themeFColor);
//   // color: aliceblue;
// }

// .selectorBtn:hover {
//   cursor: pointer;
// }

// @keyframes fadeIn {
//   from {
//     opacity: 0;
//   }

//   to {
//     opacity: 1;
//   }
// }

@media only screen and (min-width: 768px) {}