<!-- <div class="carousel" *ngFor="let item of carousel?.items">
  <div class="slide" style="background-image: url({{item.image}});"></div>
</div> -->
<div class="carousel">
  <div class="slide kenburns-top-right" style="background-image: url({{carousel?.items[slide]?.image}});"></div>
</div>
<div class="controlContainer">
  <div class="material-icons icon btn" (click)="prev()">chevron_left</div>
  <div class="slideSelectContainer">
    <div *ngFor="let item of carousel?.items; let idx = index"
          class="btn slideSelectBtn"
          (click)="selectSlide($event)"
          [id]="idx"
          [class.slideSelected]="slideSelected(idx)">
    </div>
  </div>
  <div class="material-icons icon btn" (click)="next()">chevron_right</div>
</div>
