.footer{
    padding: 15px;
    display: grid;
    grid-template-columns: auto;
    // border: 1px solid var(--themeBgColorAlternate);
    // box-shadow: 10px 10px 8px var(--themeBoxShadow);
    // border-radius: 15px;
    margin: 20px;
}
.col {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
    .footer {
        padding: 15px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .col {
        // align-items: center;
    }
    .col01 {
        grid-column: 1;
    }
    .col02 {
        grid-column: 2;
    }
    .col03 {
        grid-column: 3;
    }
}
