.footer{
    padding: 15px;
    display: grid;
    grid-template-columns: auto;
    background-color: var(--themeBgColorAlternate);
}
.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--themeFColorAlternate);
}

@media only screen and (min-width: 768px) {
    .footer {
        //padding: 15px;
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .col {
        // align-items: center;
    }
    .col01 {
        grid-column: 1;
        // border-left: 1px dotted black;
        // border-right: 1px dotted black;
    }
    .col02 {
        grid-column: 2;
        // border-left: 1px solid black;
        // border-right: 1px solid black;
    }
    .col03 {
        grid-column: 3;
        // border-left: 1px dotted black;
        // border-right: 1px dotted black;
    }
}
