<div class="footer">
    <div class="col col01">
        <div>
            <div>Business Park</div>
            <div>Unit 7</div>
            <div>Bycars Rd</div>
            <div>Burslem</div>
            <div>Stoke-on-Trent</div>
            <div>ST6 1BY</div>
        </div>
    </div>
    <div class="col col02">
        <div>
            <div>Tel: 07577 004005</div>
        </div>
    </div>
    <div class="col col03">
        <div>
            <div>Email:  info@potteriesjagspares.co.uk</div>
        </div>
    </div>
</div>
