<div class="container">
    <div class="nameContainer">
        <div class="label name">{{product?.name}}</div>
    </div>
    <div class="imgContainer">
        <div class="image" style="background-image: url({{product?.image}});"></div>
    </div>
    <div class="detailsContainer">
        <div class="label">{{product?.description}}</div>
        <div class="label price">{{product?.unitCost | currency:'GDP':'£'}}</div>
        <div class="toolbar">
            <div class="button btnOk" (click)="addToCart(product)">ADD TO CART</div>
        </div>
        <div class="gallery" *ngIf="product?.gallery.length>=0">
            <div class="imageWrapper image" *ngFor="let img of product?.gallery" style="background-image: url({{img}});" [id]="img" (click)="refreshImage($event)"></div>
        </div>
    </div>
</div>



