.container {
    display: flex;
    flex-direction: column;
    // max-width: 80%;
    border: 1px solid var(--themeBgColorAlternate);
    box-shadow: 10px 10px 8px var(--themeBoxShadow);
}

.imgContainer {
    padding: 0px 15px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}

.image {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nameContainer {
    margin: 0px auto;
}
.detailsContainer {
    padding: 15px;
    border-radius: 5px;
    margin: 5px 0px 5px 0px;
}
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px;
}
.imageWrapper {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
}

.imageWrapper:hover {
    cursor: pointer;
}

.image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.label {
    padding: 10px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
}

.price {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.toolbar {
    text-align: center;
}

.button {
    display: inline-block;
    margin: 0px auto 0px auto;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgba(136, 136, 136, 0.4);
}

.btnOk {
    text-align: center;
    font-weight: bold;
    color: var(--themeBgFColorPrimary);
    background-color: var(--themeBgColorPrimary);
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 80%;
        margin: 50px auto 0px auto;
    }
    .toolbar {
        text-align: right;
    }

    .price {
        text-align: right;
    }
    .imageWrapper {

    }
}