<app-carousel></app-carousel>

<div class="container">
    <div class="headerText">Welcome To Potteries Jag Spares</div>
    <div class="bodyText">We Break Used Jaguars For Spares And Have Thousands Of Parts In Stock. With Over 30 Years Experience In Restoring Series 1 E-Types And Other Classic Jaguars And Over 20 Years Specialising In Auto Electrical Work Between Us Prior To Starting Potteries Jaguar Spares We Can Also Confidently Offer Restoration Work, Mechanical And Auto Electrical Fault Diagnosis And Repairs. Feel Free To Browse Our Menus For Cars And Parts. Any Enquiries Welcome Either Via Phone Or Email.Contact Us Today!</div>
</div>
