<div class="container">
  <form [formGroup]="payForm" class="pannel" (ngSubmit) = "onSubmit()">
    <h3>Payment</h3>
    <!-- <label>
      Name On Card: -->
      <input type="text" 
        formControlName="nameOnCard"
        placeholder="NAME ON CARD">
    <!-- </label> -->
    <!-- <label>
      Card No: -->
      <input type="text" 
        formControlName="cardNo"
        placeholder="CARD NO">
    <!-- </label> -->
    <div class="row">
      <div  class="colSpan50">
        <!-- <label>
          Expiry Date: -->
          <input type="date" 
            formControlName="expiryDate"
            placeholder="Expiry Date">
        <!-- </label>      -->
      </div>
      <div class="colSpan50">
        <!-- <label>
          CSV: -->
          <input type="text" 
            formControlName="csv"
            placeholder="CSV"
            class="pushRight">
        <!-- </label> -->
      </div>
    </div>
    <div class="row">
      <div class="colSpan50">
        <button (click)="onCancel()">BACK</button>
      </div>
      <div class="colSpan50 pushRight">
        <button type="submit" [disabled]="!payForm.valid">PAY</button>
      </div>
    </div>
  </form>
</div>

