<div class="container">
  <form [formGroup]="payForm" class="pannel" (ngSubmit) = "onSubmit()">
    <h3>Payment</h3>
    <div formGroupName="payment">
      <input type="text"
        formControlName="nameOnCard"
        placeholder="NAME ON CARD">
      <input type="text"
        formControlName="cardNo"
        placeholder="CARD NO">
      <div class="row">
        <div  class="colSpan50">
            <input type="date"
              formControlName="expiryDate"
              placeholder="Expiry Date">
        </div>
        <div class="colSpan50">
            <input type="text"
              formControlName="csv"
              placeholder="CSV"
              class="pushRight">
        </div>
      </div>
      <div class="row">
        <div class="colSpan50">
          <button (click)="onCancel()">BACK</button>
        </div>
        <div class="colSpan50 pushRight">
          <!-- <button type="submit">PAY</button> -->
          <button type="submit" [disabled]="!payForm.valid">PAY</button>
        </div>
      </div>
    </div>
  </form>
</div>

