* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: Arial, Verdana, Helvetica, Tahoma, Trebuchet MS, Times New Roman,
        Georgia, Garamond, Courier New, Brush Script MT;
    --themeBgColor: rgba(255, 255, 255);
    --themeFColor: rgba(0, 0, 0);
    --themeBgColorAlternate: rgba(0, 0, 0, 1);
    --themeFColorAlternate:rgba(255, 255, 255, 1);
    --themeFColorRed: rgba(255, 0, 0, 0.8);
    --themeFColorAmber: rgba(204,153,0, 0.8);
    --themeFColorGreen: rgba(0, 204, 51, 0.8);
    --themeActiveLink: rgb(0, 223, 255);
    --themeBgColorPrimary: rgba(255, 105, 180, 1);
    --themeBgFColorPrimary: rgba(255, 255, 255, 1);
    --themeBgColorSecondary: rgba(26,26,255, 1);
    --themeBgFColorSecondary: rgba(255, 255, 255, 1);
    --themeNotVisisble: transparent;
    --themeBoxShadow: rgba(0, 0, 0, 0.3);
}

app-root {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  margin: 0px;
  grid-template-rows: auto 1fr auto;
}

app-footer {
    margin-top: auto;
}

router-outlet {
   padding: 0px;
}

.main {
    // padding: 15px;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.icon:hover {
    opacity: 0.5;
}
label {
  font-size: small;
  font-weight: bold;
}
input {
  display: block;
  height: 35px;
  width: 100%;
  padding: 5px;
  // margin: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--themeNotVisible);
}
input:focus {
  border-bottom: 1px solid var(--themeBgColorAlternate);
}
button {
  padding: 8px;
  border-radius: 5px;
  min-width: 80px;
  cursor: pointer;
  //margin: 10px;
  text-align: center;
  font-weight: bold;
  color: var(--themeFColorAlternate);
  background-color: var(--themeBgColorAlternate);
}
button:hover {
  opacity: 0.8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--themeFColor) !important;
}
