.container {
    display: flex;
    flex-direction: column;
}

.cell {
    padding: 5px;
    border: 1px solid black;
}

.headerRow {
    background-color: var(--themeBgColorAlternate);
    color: var(--themeFColorAlternate);
    text-align: center;

}

.dataRow {
    text-align: right;
}

.cell {
    //padding: 8px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}
.totalCount {
    // color: var(--themeFColorRed);
}
.totalNet {
    color: var(--themeFColorGreen);
}
.totalVat {
    color: var(--themeFColorAmber);
}
.totalGross {
    color: var(--themeFColorRed);
}
@media only screen and (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: flex-end;
    }

    .cell {
        min-width: 100px;
    }
}