<div class="row">
  <form [formGroup]="checkoutForm" class="pannel" (ngSubmit) = "onSubmit()">
    <h3>Delivery Details</h3>

    <div formGroupName="delivery">
      <input type="text" 
        formControlName="forename" 
        placeholder="FORENAME">

      <input type="text" 
        formControlName="surname" 
        placeholder="SURNAME">

      <input type="text" 
        formControlName="address1" 
        placeholder="ADDRESS1">

      <input type="text" 
        formControlName="address2" 
        placeholder="ADDRESS2">

      <input type="text" 
        formControlName="town" 
        placeholder="TOWN">

      <input type="text" 
        formControlName="city" 
        placeholder="CITY">

      <input type="text" 
        formControlName="county" 
        placeholder="COUNTY">

      <input type="text" 
        formControlName="postcode" 
        placeholder="POSTCODE">

      <input type="text" 
        formControlName="telephone" 
        placeholder="TELEPHONE">

      <input type="text" 
        formControlName="email" 
        placeholder="EMAIL">

    </div>
    <div class="btnBar">
      <button  (click)="onCancel()">BACK</button>
      <button type="submit" [disabled]="!checkoutForm.valid">NEXT</button>
    </div>
  </form>
</div>
